h1{
  font-size:40pt;
}

h3{
  margin: 20px 0;
}

#marshall, #warren {
    float: none;
    max-width: none; 
}

#case-1, #case-2, #case-3{
 float:none;
  display:inline-block;
}
.aboutQuiz{
  margin:5% 8%;
}

#quiz{
  width:0;
}

#container{
  width:80%;
  padding-left:30px;
}

