/* global */
h1{
	font-size: 40pt;
}


/* Nav styles */
.menu li{
	margin: 10px 22px;
}

.menu li > a, .dropbtn{
	font-size: 20pt;
}

.sub-menu{
	margin-left: -29px;
}

.menu .sub-menu li{
	margin: 0;
}

.sub-menu li a{
	font-size: 18pt;
	padding: 12px 10px 5px 10px;
}

/* home page */
#slogan{
    font-size: 33pt;
}

#about-para{
	font-size: 11pt;
}

/* period page */
.open-p{
	padding: 0 10%;
}

/* President page */
.img-container{
	width: 32.3%;
}

.hover-text{
	font-size: 2em;
	opacity: 1;
}
/* case page */
#sub-nav a{
	font-size: 22pt;
	width: 220px;
	padding: 90px 0;
}

#marshall, #warren{
	float: none;
	max-width: 100%;
}

