/* global */
h1{
	font-size: 40pt;
}


/* Nav styles */
.menu li{
	margin: 10px 15px;
}


/* home page */
#slogan{
    font-size: 33pt;
}

#about-para{
	font-size: 11pt;
}

/* President page */
.presPic{
	width: 32.5%;
}

/* case page */
#sub-nav a{
	font-size: 20pt;
	width: 180px;
	height: inherit;
	border-bottom: none;
}

#marshall, #warren{
	float: none;
	max-width: 100%;
}